@import url( 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
--themecolor: #fcba03;
--themecolortrans: #fcba037e;

--trans: #ffffff00;

--textcolor: #f1f0eb;
--textinputecol: #ced0d3;

--background: #1a1a1a;
--outline: #333333;

--white: #f1f0eb;
--black: #060808;

--red: #ac0d0d;
--green: #01b637;
--blue: #0055ff;

--font: 'Montserrat';

--shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

body {
    background-color: var(--background);
}

h1-header{
    color : var(--textcolor);
    font-family: "Montserrat";
    font-size: x-large;
}

h1,h2,h3,h4,h5,h6{
    color : var(--textcolor);
    font-family: var(--font);
    font-weight:  350;
}

p {
    color: var(--textcolor);
    font-family: var(--font);
}

hr{
    border: 1px solid var(--themecolor);
    margin: 10px;
}

label {
    color: var(--textcolor);
    font-family: var(--font);
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 0px;
}

input {

    background-color: var(--background);
    border: 2px solid var(--outline);
    border-radius: 5px;
    color: var(--textcolor);

    font-family: var(--font);
    font-size: medium;

    padding: 10px;
    margin: 10px;

    border-bottom: 5px solid var(--themecolor);
}

button {
    background-color: var(--outline);
    border: 2px solid var(--outline);
    border-radius: 5px;

    color: var(--textcolor);
    font-family: var(--font);
    font-size: medium;

    padding: 10px;
    margin: 10px;

    box-shadow: 0 5px #666;

}

button:active {
    background-color: var(--outline);
    border: 2px solid var(--outline);
    border-radius: 5px;

    color: var(--textcolor);
    font-family: var(--font);
    font-size: medium;

    padding: 10px;
    margin: 10px;

    box-shadow: 0 5px #66666600;
    transform: translateY(4px);

}

button:hover{
    border: 2px solid var(--themecolor);
    border-radius: 5px;

    color: var(--textcolor);
    font-family: var(--font);
    font-size: medium;

    padding: 10px;
    margin: 10px;
}

a{
    color: var(--themecolor);
    text-decoration: none;
    font-family: 'Montserrat', Times, serif;
    font-size: medium;
    text-align: center;
}

header{
    color: var(--textcolor);
    font-family: var(--font);
    font-size: 1.5rem;
    text-align: left;

    background-color: var(--outline);
    border-radius: 5px;
    border-bottom: 2px solid var(--themecolor);

    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}


/* ---------------------------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;

}


.holder {
    background-color: var(--background);
    
    border-radius: 5px;
    padding: 20px;
    margin: 10px;

    flex-direction: column;
    justify-content: center;

    border: 2px solid var(--outline);
    box-shadow: rgba(0, 0, 0, 0.486) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    transition: 0.5s;

}


.card{
    margin: 20px;
    background-color: var(--background);
    border-radius: 5px;
    padding: 20px;
    /* width: 500px; */
    display: flex;

    flex-direction: column;
    border: 2px solid var(--outline);

    transition: 0.5s;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    font-family: "Montserrat", Times, serif;
    font-size: 1.5rem;
    color: var(--textcolor);

}


card-h1 {
    padding: 10px;
    margin: 10px;

    border: 2px solid var(--outline);
    background-color: var(--background);

    border-radius: 5px;

    border-bottom: 2px solid var(--themecolor);
}

card-h2 {
    font-size: 0.9rem;

    padding: 10px;
    margin: 10px;

    border: 2px solid var(--outline);
    background-color: var(--background);

    border-radius: 5px;

}

.card-footer {

    position: relative;
    bottom: 0;

    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 0.9rem;
    background-color: var(--outline);
    border-radius: 5px;
    padding: 10px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;


}


/* ---------------------------------------------- */

tag-red {
    background-color: var(--red);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : "Montserrat";
    font-size: 1.2rem;

    float: left;
    margin-right: 10px;
}

tag-green {
    background-color: var(--green);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : "Montserrat";
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

tag-blue {
    background-color: var(--blue);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : 'Montserrat', Times, serif;
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

tag-yellow {
    background-color: var(--themecolortrans);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : 'Montserrat', Times, serif;
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

.outline-red {
    border: 2px solid var(--red);
    color: var(--white);
}

.outline-green {
    border: 2px solid var(--green);
    color: var(--white);
}

.outline-blue {
    border: 2px solid var(--blue);
    color: var(--white);
}

.outline-theme {
    border: 2px solid var(--themecolor);
    color: var(--white);
}

/* ---------------------------------------------- */
footer {

    font-family: "Montserrat", Times, serif;
    font-size: 0.9rem;
    color: var(--textcolor);
    text-align: center;

    border-radius: 5px;

    background-color: var(--background);
    padding: 20px;
    margin: 10px;

    border: 2px solid var(--outline);
    box-shadow: rgba(0, 0, 0, 0.486) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-bottom: 2px solid var(--themecolor);
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ff0000 25%, #ff0000 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 5px var(--themecolor);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: var(--font);
  text-transform:uppercase;
  color: var(--themecolor);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px var(--themecolor);
  background: rgba(255, 255, 255, 0.1);
  color: var(--themecolor);
}



.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;

border: 2px solid var(--outline);
box-shadow: rgba(0, 0, 0, 0.486) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--textcolor);
    display: block;

    background-color: var(--outline);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

.sidenav a:hover {
    background-color: var(--themecolortrans);
    color: var(--textcolor);
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0 10px;
}





/* ---------------------------------------------- */

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ---------------------------------------------- */
/* CUSTOM CSS UNDER THIS LINE */
/* ---------------------------------------------- */