@import url( 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
--themecolor: #fcba03;
--themecolortrans: #fcba037e;

--trans: #ffffff00;

--textcolor: #f1f0eb;
--textinputecol: #ced0d3;

--holdercolor: #1a1a1a;
--holdercoltrans: #333333;

--white: #f1f0eb;
--black: #060808;

--red: #ac0d0d;
--green: #01b637;
--blue: #0055ff;
}

.content{
    margin: 0 auto;
    width: 80%;
    max-width: 1900px;
}


body{
background-color: var(--holdercolor);

}

h1-header{
    color : var(--textcolor);
    font-family: "Montserrat";
    font-size: x-large;
}

h1{
    color : var(--textcolor);
    font-family: "Montserrat";
    font-size: x-large;
}

h2 {
    color : var(--textcolor);
    font-family: "Montserrat";
    font-size: large;
}

h3 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
    font-size: medium;
}

h4 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
    font-size: small;
}

h5 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
    font-size: x-small;
}

h6 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
    font-size: xx-small;
}

p {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
}

input {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;

    border-color:#06080800;
    border-bottom: 2px solid var(--themecolortrans);
    /* border-radius: 5px; */
    padding: 10px;
    margin: 10px;

    background-color: var(--holdercoltrans);
}

input:focus {
    outline: rgb(255, 255, 255);
    border-color:#06080800;
    border-bottom: 2px solid var(--themecolor);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    transition: 0.5s;

    background-color: var(--holdercoltrans);
}

input:hover {
    border-color:#06080800;
    border-bottom: 2px solid var(--trans);
    padding: 10px;
    margin: 10px;

    transition: 0.5s;

    background-color: var(--holdercoltrans);
}

textarea {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;

    border-color:#06080800;
    border-bottom: 2px solid var(--themecolortrans);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    background-color: var(--holdercoltrans);
    resize: none;
}

textarea:focus {
    outline: none;
    border-color:var(--trans);
    border-bottom: 2px solid var(--themecolor);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    transition: 0.5s;

    background-color: var(--holdercoltrans);
}

button {
    border: none;
    transition: 0.5s;

    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;


    font-size: medium;
    font-family: 'Montserrat';
    color: var(--textcolor);
}

button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: var(--themecolor);
    color: var(--black);

    border-radius: 5px;
    padding: 15px;
    margin: 15px;

    font-size: medium;
    font-family: 'Montserrat';
}

button:focus {
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    background-color: var(--themecolor);
    color: var(--black);

    border-radius: 5px;
    padding: 15px;
    margin: 15px;

    font-size: medium;
    font-family: 'Montserrat';
}

button:active {
    transition: 0.5s;
    cursor: pointer;
    background-color: var(--themecolor);
    color: var(--black);

    border-radius: 5px;
    padding: 15px;
    margin: 15px;

    font-size: medium;
    font-family: 'Montserrat';
}

select {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;

    border-color: #06080800;
    border-bottom: 2px solid var(--themecolor);
    margin: 5px;
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 5px;  
}

select::backdrop {
    background-color: var(--holdercoltrans);
}

li {
    display: inline;
    float: right;
    margin: 5px;
}


a {
    transition: 0.5s;
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;
    text-decoration: none;
    background-color: var(--holdercoltrans);


    border-bottom: 2px solid var(--themecolor);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;    
}

a:hover {
transition: 0.5s;
cursor: pointer;
background-color: var(--themecolor);
color: var(--black);

border-radius: 5px;
padding: 15px;
margin: 15px;

font-size: medium;
font-family: 'Montserrat';



}

a:after {
    outline: none;
    border-color: var(--black);
    color: var(--black);
    transition: 0.5s;
}


header{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    border-bottom: 2px solid #fcba03;
    


    margin-left: 0px;

    font-family: "Montserrat";
    font-size: 1.5rem;
    color: var(--textcolor);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.logo{

    position: absolute;
    left: 25px;
    top: 19px;
    width: 50px;
    height: 50px;
}

/* ---------------------------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
    background-color: var(--holdercolor);
    border-radius: 5px;

}


.holder {
    background-color: var(--holdercolor);
    
    border-radius: 5px;
    padding: 20px;
    margin: 10px;

    flex-direction: column;
    justify-content: center;

    border: 2px solid var(--holdercoltrans);
    box-shadow: rgba(0, 0, 0, 0.486) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    transition: 0.5s;

}

.card{
    margin: 20px;
    background-color: var(--holdercolor);
    border-radius: 5px;
    padding: 20px;
    /* width: 500px; */
    display: flex;

    flex-direction: column;
    border: 2px solid var(--holdercoltrans);

    transition: 0.5s;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    font-family: "Montserrat", Times, serif;
    font-size: 1.5rem;
    color: var(--textcolor);

}

card-h1 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px;
    margin: 10px;

    border: 2px solid var(--holdercoltrans);
    background-color: var(--holdercolor);

    border-radius: 5px;

    border-bottom: 2px solid var(--themecolor);
}

card-h2 {
    font-size: 0.9rem;

    padding: 10px;
    margin: 10px;

    border: 2px solid var(--holdercoltrans);
    background-color: var(--holdercolor);

    border-radius: 5px;

}

.card-footer {

    position: relative;
    bottom: 0;

    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 0.9rem;
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 10px;

}

.card-button{
    font-size: 1.0rem;
    background-color: var(--holdercoltrans);
    border-radius: 5px;

    position: relative;
    bottom: 0;

    transition: 0.5s;

    margin-left: auto;
    margin-right: auto;

    display: flex;
}

.cardbutton:hover{
    color: var(--black);
    transition: 0.5s;
    cursor: pointer;

    background-color: var(--themecolor);
    border-radius: 5px;
    padding: 5px;
}

/* ---------------------------------------------- */

tag-red {
    background-color: var(--red);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : "Montserrat";
    font-size: 1.2rem;

    float: left;
    margin-right: 10px;
}

tag-green {
    background-color: var(--green);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : "Montserrat";
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

tag-blue {
    background-color: var(--blue);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : 'Montserrat', Times, serif;
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

tag-yellow {
    background-color: var(--themecolortrans);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : 'Montserrat', Times, serif;
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

/* ---------------------------------------------- */
footer {

    font-family: "Montserrat", Times, serif;
    font-size: 0.9rem;
    color: var(--textcolor);
    text-align: center;

    border-radius: 5px;

    background-color: var(--holdercolor);
    padding: 20px;
    margin: 10px;

    border: 2px solid var(--holdercoltrans);
    box-shadow: rgba(0, 0, 0, 0.486) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-bottom: 2px solid var(--themecolor);
}



.siteheader {
    background-color: var(--holdercolor);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;

    border-top: 2px solid var(--themecolor);

    background-color: var(--holdercolor);
    padding: 20px;
    margin: 10px;

    border: 2px solid var(--holdercoltrans);
    box-shadow: rgba(0, 0, 0, 0.486) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-top: 2px solid var(--themecolor);


}

/* ---------------------------------------------- */
/* CUSTOM CSS UNDER THIS LINE */
/* ---------------------------------------------- */


