/* textcolor = #ced0d3 */

:root{
--themecolor: #fcba03;
--themecolortrans: #fcba037e;

--textcolor: #f1f0eb;
--textinputecol: #ced0d3;

--holdercolor: #1a1a1a;
--holdercoltrans: #333333;

--white: #f1f0eb;
--black: #060808;

--red: #ac0d0d;
--green: #01b637;
--blue: #0055ff;

--corner5px: 5px;
--corner10px: 10px;
}

body{
background-color: var(--black);
}

h1{
color : var(--textcolor);
font-family: "Montserrat";
}

h2 {
    color: var(--textcolor);
    font-family: "Montserrat";

}

h3 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
}

h4 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
}

h5 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
}

h6 {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
}

p {
    color: var(--textcolor);
    font-family : 'Montserrat', Times, serif;
}

input {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;

    border-color:#06080800;
    border-bottom: 2px solid var(--themecolortrans);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    background-color: var(--holdercoltrans);
}

input:focus {
    outline: none;
    border-color:#06080800;
    border-bottom: 2px solid var(--themecolor);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    transition: 0.5s;

    background-color: var(--holdercoltrans);
}

textarea {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;

    border-color:#06080800;
    border-bottom: 2px solid var(--themecolortrans);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    background-color: var(--holdercoltrans);
    resize: none;
}

textarea:focus {
    outline: none;
    border-color:#06080800;
    border-bottom: 2px solid var(--themecolor);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    transition: 0.5s;

    background-color: var(--holdercoltrans);
}

button {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;

    border-color: #06080800;
    border-bottom: 2px solid var(--themecolor);
    margin: 5px;
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 5px;  
}

button:hover {
    background-color: var(--themecolor);
    color: var(--black);
    transition: 0.5s;
    cursor: pointer;
}

select {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;

    border-color: #06080800;
    border-bottom: 2px solid var(--themecolor);
    margin: 5px;
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 5px;  
}

/* select::backdrop {
    background-color: var(--holdercoltrans);
} */

a {
    color: var(--textcolor);
    font-family: 'Montserrat', Times, serif;
    text-decoration: none;

    border-bottom: 2px solid var(--themecolor);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;    

}

a:hover {
    border-color: var(--themecoltrans);
    color: var(--themecolor);
    transition: 0.5s;


}

a:after {
    outline: none;
    border-color: var(--black);
    color: var(--black);
    transition: 0.5s;
}


header{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--holdercoltrans);
    border-radius: 5px;

    margin-left: 0px;

    font-family: "Montserrat", Times, serif;
    font-size: 1.5rem;
    color: var(--textcolor);
}

.logo{
    float: left;
    margin: 10px;
    /* position: absolute; */
    /* left: 0px; */
    width: 50px;
    height: 50px;
}

/* ---------------------------------------------- */

.holder {
    background-color: var(--holdercolor);
    
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.cardholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 3200px;
    margin-block: 1rem;
    gap: 0rem;
    margin-inline: auto;
}

.card {
    margin: 20px;
    background-color: var(--holdercolor);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;
    display: flex;

    flex-direction: column;
    border: 2px solid var(--holdercoltrans);
}

card-h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family : "Montserrat";
    color: var(--textcolor);
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 10px;

    border: #f1f0eb00;
    border-bottom: var(--themecolor);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

}

card-h2 {
    font-size: 1.1rem;
    margin-top: 10px;
    font-family : "Montserrat";
    color: var(--textcolor);
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 10px;
}

card-footer{
    margin-top: auto;
    font-size: 1.0rem;
    margin-top: 10px;
    font-family : "Montserrat";
    color: var(--textcolor);
    background-color: var(--holdercoltrans);
    border-radius: 5px;
    padding: 10px;

    border: #f1f0eb00;
    border-bottom: var(--themecolor);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

}

/* ---------------------------------------------- */

tag-red {
    background-color: var(--red);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : "Montserrat";
    font-size: 1.2rem;

    float: left;
    margin-right: 10px;
}

tag-green {
    background-color: var(--green);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : "Montserrat";
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

tag-blue {
    background-color: var(--blue);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : 'Montserrat', Times, serif;
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

tag-yellow {
    background-color: var(--themecolor);
    color: var(--textcolor);
    border-radius: 5px;
    padding: 5px;

    font-family : 'Montserrat', Times, serif;
    font-size: 1.2rem;
    float: left;
    margin-right: 10px;
}

/* ---------------------------------------------- */
footer {

    font-family: "Montserrat", Times, serif;
    font-size: 0.9rem;
    color: var(--textcolor);
    text-align: center;

    border-bottom: 2px solid var(--themecolor);
    border-radius: 10px;

    background-color: var(--holdercolor);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    /* position: fixed; */
    /* bottom: 0;
    left: 0;
    width: 100%; */
    /* height: 0.9rem; */

}



.siteheader {
    background-color: var(--holdercolor);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    border-top: 2px solid var(--themecolor);
    border-radius: 10px;

    background-color: var(--holdercolor);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    /* position: fixed; */
    /* bottom: 0;
    left: 0;
    width: 100%; */
    /* height: 0.9rem; */

}